.env
output/
datafog_instructor.egg-info/
examples/poc.py
dist/
venv/
app/__pycache__/
*.pyc
*.swp
*.prof
MANIFEST
dist/
build/
.coverage
.cache/
*.egg-info/
.pytest_cache/
.tox/
src/datafog/__pycache__/
src/datafog/pii_tools/__pycache__/
tests/__pycache__/
tests/.datafog_env/
datafog_debug.log
sotu_2023.txt
.DS_Store
.env
coverage.xml
htmlcov/
.venv/
node_modules/
.DS_Store
.venv
examples/venv/
error_log.txt
docs/*
!docs/*.rst
!docs/conf.py
scratch.py
prd.md