torch
gguf
requests==2.32.3
spacy==3.7.5
sentencepiece
protobuf
aiohttp
numpy
asyncio
setuptools
pydantic-settings==2.3.4
typer
sqlmodel
sphinx
cryptography
rellm
transformers
sentence-transformers
python-dotenv
regex
uuid
rich
pydantic==2.7.1
openai==1.24.1
instructor==1.0.3
fastapi==0.110.3
uvicorn[standard]
[fastapi]
groq
pandas
streamlit
