# Include the base requirements
-r requirements.txt

# Development and testing dependencies
just
isort
black
blacken-docs
certifi
flake8
prettier
tox
pytest==7.4.0
pytest-asyncio==0.21.0
pytest-cov
mypy
autoflake
pre-commit